__pycache__/
**/__pycache__/
*.pyc
.pytest_cache/
.venv/
.venv312/
venv/
venv-1/
env/
.testdeps/
.tools/
.env
.DS_Store
.git
**/node_modules/
frontend/
builds/
media/
staticfiles/
*.sqlite3
*.bak
/.vscode/
/.idea/
